*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: auto;
  text-size-adjust: 100%; }

body {
  box-sizing: border-box;
  font-family: bodyText;
  -webkit-font-smoothing: antialiased !important;
  background-color: #fff; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

@font-face {
  font-family: logoText;
  src: url(../../fonts/Lobster-Regular.ttf); }

@font-face {
  font-family: bodyText;
  src: url(../../fonts/Poppins-Medium.ttf); }

@font-face {
  font-family: headText;
  src: url(../../fonts/NotoSansTC-Regular.otf); }

@font-face {
  font-family: mija;
  src: url(../../fonts/mija.ttf); }

@font-face {
  font-family: galada;
  src: url(../../fonts/Galada-Regular.ttf); }

@font-face {
  font-family: TitilliumWeb;
  src: url(../../fonts/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: RobotoVF;
  src: url(../../fonts/RobotoMono-VariableFont_wght.ttf); }

@font-face {
  font-family: QuickSandVF;
  src: url(../../fonts/Quicksand-VariableFont_wght.ttf); }

.space-between {
  position: absolute;
  right: 18rem;
  top: 2.5rem !important; }

.button {
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.625rem 1.25rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer; }
  .button:focus {
    outline: none; }
  .button-shade {
    background: #6a4a39;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px #6a4a39; }
    .button-shade:hover {
      box-shadow: none;
      transition: box-shadow .3s ease-in-out; }
  .button-shadow {
    text-decoration: none;
    transition: all .2s ease-out;
    box-shadow: 0 4px 11px 0 rgba(17, 17, 20, 0.15), 0 1px 3px 0 #030a36; }
  .button-white {
    background-color: #fff;
    background-image: linear-gradient(180deg, #fff, #f5f5fa); }
  .button-rounded {
    border-radius: 30px; }

.button-footer {
  font-size: 1.5rem !important;
  width: 45%;
  margin-block-start: 1.5rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  display: flex;
  justify-content: flex-start;
  align-content: center; }
  .button-footer .icon-angle-double-right {
    height: 25px;
    font-size: 2rem;
    margin-inline-start: 1rem; }
  .button-footer__title {
    margin: auto 0; }

.input-field {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 0.955rem .75rem;
  font-size: 1.25rem;
  line-height: 1.6;
  color: #222;
  background-color: #241a17;
  border: 1px solid transparent; }
  .input-field:focus {
    border: 1px solid #fff;
    transition: border-color .15s ease-in-out;
    font-size: 1.25rem;
    color: #fff; }
  .input-field::-moz-placeholder {
    color: #000; }
  .input-field::-moz-placeholder,
  .input-field .textarea::-moz-placeholder {
    color: #fff; }
  .input-field::-webkit-input-placeholder {
    color: #fff;
    font-size: 1.2rem; }

.label {
  color: #c0c0c0;
  font-family: QuickSandVF;
  display: block;
  font-size: 1.35rem;
  letter-spacing: 0.1rem;
  font-weight: 500; }

.label:not(:last-child) {
  margin-bottom: 0.5em; }

.input-control {
  margin-bottom: 10px;
  padding: 1rem 0; }

.textarea {
  resize: none; }

.textarea::-moz-placeholder {
  color: #000; }

.whatsapp-icon {
  position: fixed;
  z-index: 10;
  right: 0.8rem;
  top: 60rem; }
  .whatsapp-icon__link {
    text-align: right;
    padding: 1.5rem; }
    .whatsapp-icon__link img {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
      border-radius: 15%;
      width: 4rem;
      transition: ease-in-out .3s;
      background-color: #eee !important; }
      .whatsapp-icon__link img:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }

.lang-select {
  position: relative; }
  .lang-select .select-item {
    display: none;
    margin-top: 10px;
    padding-left: 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    max-width: 50%;
    width: 35%;
    position: relative;
    left: 0;
    background: #fff;
    position: absolute;
    z-index: 8; }
    .lang-select .select-item.active {
      display: block; }
    .lang-select .select-item .item {
      list-style: none;
      padding: 10px 15px;
      cursor: pointer; }
      .lang-select .select-item .item:not(:last-child) {
        border-bottom: 1px solid rgba(106, 74, 57, 0.5); }
      .lang-select .select-item .item:hover {
        background-color: rgba(106, 74, 57, 0.2); }
      .lang-select .select-item .item a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #171919;
        letter-spacing: 0.07rem;
        display: flex;
        flex-direction: row;
        align-items: center; }
        .lang-select .select-item .item a .lang {
          margin-left: 1rem; }
        .lang-select .select-item .item a .flag {
          border-radius: 50%;
          width: 3rem; }
  .lang-select .icon-right {
    position: absolute;
    top: 1.2rem;
    right: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a4a39;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: transform ease-in-out .2s;
    cursor: pointer;
    font-size: 1.5rem; }
    .lang-select .icon-right.active {
      transform: rotate(180deg);
      transition: transform ease-in-out .2s; }
  .lang-select #input-field {
    display: block;
    max-width: 100%;
    width: 35%;
    padding: 2rem .75rem;
    font-size: 1.5rem;
    color: #171717;
    background-color: #f8f8f8;
    background-clip: padding-box;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.08); }
    .lang-select #input-field:focus {
      outline: none;
      border-color: rgba(0, 0, 0, 0.27);
      background-color: #f8f8f8;
      transition: border-color .15s ease-in-out; }
    .lang-select #input-field::-moz-placeholder {
      color: rgba(29, 28, 28, 0.3);
      font-size: 1.2rem; }
    .lang-select #input-field::-webkit-input-placeholder {
      color: #241a17;
      font-size: 1.2rem; }

.glider, .glider-contain {
  position: relative; }

.glider, .glider-track {
  transform: translateZ(0); }

.glider-contain {
  width: 100%;
  margin: 5rem auto; }

.glider {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; }

.glider-track {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  z-index: 1;
  padding-block-start: 2rem;
  padding-block-end: 2rem; }

.glider__content {
  -webkit-box-shadow: 0.3px 0.2px 5px 0.3px rgba(0, 0, 0, 0.4);
  box-shadow: 0.3px 0.2px 5px 0.3px rgba(0, 0, 0, 0.4);
  width: 350px !important;
  height: 370px !important;
  margin: 0 0 10rem; }
  .glider__content .five-star {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-block-start: 0.8rem; }
  .glider__content blockquote {
    text-align: justify;
    padding-inline-start: 2.5rem;
    padding-inline-end: 2.5rem;
    padding-block-start: 2rem;
    font-size: 1.5rem;
    margin-block-end: 1rem; }
  .glider__content figcaption {
    text-align: center;
    font-size: 1.8rem;
    font-family: galada;
    letter-spacing: 0.07rem; }

.glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab; }

.glider.draggable .glider-slide img {
  user-select: none;
  pointer-events: none; }

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.glider-slide {
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-width: 200px;
  border-radius: 5px; }
  .glider-slide:not(:first-child) {
    margin-left: 4rem; }

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0; }

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px; }
  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25); } }

.glider-next,
.glider-prev {
  display: block;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
  font-size: 4rem;
  left: 2.5rem;
  top: 85%;
  cursor: pointer;
  color: #000;
  opacity: 1;
  line-height: 1;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  padding-inline-start: 1rem;
  padding-inline-end: 1rem; }
  .glider-next:focus, .glider-next:hover,
  .glider-prev:focus,
  .glider-prev:hover {
    color: #6a4a39;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3); }
  .glider-next i,
  .glider-prev i {
    display: block;
    margin-block-start: 1rem; }
  .glider-next.disabled,
  .glider-prev.disabled {
    opacity: .25;
    color: #666;
    cursor: default; }

.glider-next {
  right: 2.5rem;
  left: auto; }

.glider-hide {
  opacity: 0; }

.container {
  max-width: 100%;
  background-color: #fff;
  position: relative;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

.main__footer {
  max-width: 100%;
  width: 100%;
  height: 585px;
  position: relative;
  margin-top: 5%;
  background-color: rgba(36, 26, 23, 0.885);
  padding-block-start: 4rem;
  padding-block-end: 4rem; }
  .main__footer--container {
    height: 100%;
    max-width: 100%; }
    .main__footer--container .row {
      margin: 0 10rem;
      height: 100%;
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-content: center; }
      .main__footer--container .row .col-lg-4:not(:first-child) {
        margin-inline-start: 10rem; }
      .main__footer--container .row .col-lg-4 .header-3 {
        margin-inline-start: 1.5rem;
        margin-block-end: 3.5rem;
        letter-spacing: 0.15rem;
        word-spacing: 0.2rem;
        font-size: 1.5rem;
        color: #fffacd;
        font-family: TitilliumWeb;
        position: relative;
        display: inline-block; }
        .main__footer--container .row .col-lg-4 .header-3::before {
          content: "";
          position: absolute;
          height: 10px;
          width: 10px;
          border: 2px solid;
          border-color: transparent transparent #fff #fff;
          top: 15px;
          left: -12px; }
        .main__footer--container .row .col-lg-4 .header-3::after {
          content: "";
          position: absolute;
          height: 10px;
          width: 10px;
          border: 2px solid;
          border-color: #fff #fff transparent transparent;
          top: 0px;
          right: -12px; }
      .main__footer--container .row .col-lg-4 .contact__list, .main__footer--container .row .col-lg-4 .social__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: flex-start; }
        .main__footer--container .row .col-lg-4 .contact__list li, .main__footer--container .row .col-lg-4 .social__list li {
          list-style: none;
          margin-block-end: 1.5rem; }
      .main__footer--container .row .col-lg-4 .contact__list--item .caption {
        display: flex;
        align-content: flex-start;
        margin-block-end: 1rem; }
        .main__footer--container .row .col-lg-4 .contact__list--item .caption .header-5 {
          margin-block-start: auto;
          margin-block-end: auto;
          margin-inline-start: 0.3rem;
          font-size: 1.5rem;
          color: #141301;
          font-family: QuickSandVF;
          letter-spacing: 0.1533rem; }
        .main__footer--container .row .col-lg-4 .contact__list--item .caption-image {
          width: 2.5rem; }
      .main__footer--container .row .col-lg-4 .contact__list--item .caption__details {
        padding-inline-start: 2rem;
        padding-inline-end: 2rem; }
        .main__footer--container .row .col-lg-4 .contact__list--item .caption__details--item {
          display: grid;
          grid-template-rows: repeat(3, 50%);
          width: 100%;
          font-size: 1.35rem;
          font-family: RobotoVF;
          font-weight: 550;
          letter-spacing: 0.1533rem;
          margin-inline-start: 1.3rem;
          margin-block-end: 1.3rem; }
          .main__footer--container .row .col-lg-4 .contact__list--item .caption__details--item span.office-days, .main__footer--container .row .col-lg-4 .contact__list--item .caption__details--item .contact-title {
            color: #c0c0c0; }
          .main__footer--container .row .col-lg-4 .contact__list--item .caption__details--item span.office-days, .main__footer--container .row .col-lg-4 .contact__list--item .caption__details--item span.office-time, .main__footer--container .row .col-lg-4 .contact__list--item .caption__details--item .contact-title {
            margin-block-end: 0.5rem; }
          .main__footer--container .row .col-lg-4 .contact__list--item .caption__details--item span.office-number, .main__footer--container .row .col-lg-4 .contact__list--item .caption__details--item span.office-addr, .main__footer--container .row .col-lg-4 .contact__list--item .caption__details--item span.office-time {
            color: #E5E7E6; }
      .main__footer--container .row .col-lg-4 .social__list--item {
        width: 250px; }
        .main__footer--container .row .col-lg-4 .social__list--item a {
          display: flex;
          align-content: center;
          flex-direction: row;
          text-decoration: none;
          color: #8F8D87;
          font-family: RobotoVF;
          font-size: 1.3rem;
          position: relative;
          padding-inline-end: 1.5rem;
          width: 100%; }
          .main__footer--container .row .col-lg-4 .social__list--item a img.social-image {
            box-shadow: 0 3px 3px rgba(36, 26, 23, 0.35);
            border-radius: 25%;
            width: 2.955rem; }
          .main__footer--container .row .col-lg-4 .social__list--item a span {
            margin-inline-start: 1rem;
            margin-block-start: auto;
            margin-block-end: auto;
            text-align: center;
            width: 75%; }
          .main__footer--container .row .col-lg-4 .social__list--item a::before {
            content: "";
            position: absolute;
            background-color: #fffacd;
            width: 0%;
            height: 1px;
            bottom: 0;
            left: 5rem;
            right: 0;
            transition-property: width, background-color;
            transition-duration: .4s;
            transition-timing-function: ease-in-out;
            -webkit-transition-property: width, background-color;
            -webkit-transition-duration: .4s;
            -webkit-transition-timing-function: ease-in-out; }
          .main__footer--container .row .col-lg-4 .social__list--item a:hover::before {
            width: 60%; }
          .main__footer--container .row .col-lg-4 .social__list--item a:hover {
            color: #141301;
            font-weight: bold; }

.footer-bottom {
  max-width: 100%;
  width: 100%;
  height: 100%;
  font-family: QuickSandVF;
  font-size: 1.5rem;
  background-color: #241a17; }
  .footer-bottom__container {
    margin-inline-start: 7rem;
    margin-inline-end: 7rem; }
    .footer-bottom__container .row {
      padding: 2rem 3rem;
      display: grid;
      grid-template-columns: 30% 1fr; }
      .footer-bottom__container .row .copy-right {
        font-weight: 500;
        color: #fff; }
      .footer-bottom__container .row .understanding {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-content: center; }
        .footer-bottom__container .row .understanding a {
          text-decoration: none;
          font-weight: 500;
          color: #fff;
          padding-right: 1rem;
          transition-property: color;
          transition-duration: 0.4s;
          transition-timing-function: ease-in-out; }
          .footer-bottom__container .row .understanding a:not(:last-child) {
            margin-inline-end: 2rem;
            border-right: 1px solid #808080; }
          .footer-bottom__container .row .understanding a:hover {
            color: #6a4a39; }

header {
  min-width: 100%;
  background: linear-gradient(to left, #ffe1d1, #ffdbca);
  height: 75px;
  position: fixed;
  z-index: 9;
  position: fixed;
  inset: 0 0 0 0; }
  header nav {
    margin: 0 10rem;
    max-width: 100%; }
    header nav .nav-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      header nav .nav-content .content-left,
      header nav .nav-content .content-right {
        margin: 1.5rem 0; }
      header nav .nav-content .content-left {
        max-width: 35rem;
        display: flex;
        flex-direction: row;
        padding: 1rem 0; }
        header nav .nav-content .content-left__logo-text {
          font-size: 2.5rem;
          font-family: logoText;
          font-weight: bold;
          letter-spacing: 0.25rem; }
          header nav .nav-content .content-left__logo-text:not(:first-child) {
            background-image: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent; }
          header nav .nav-content .content-left__logo-text span.text-black {
            color: #1c1c1c; }
        header nav .nav-content .content-left__logo-image {
          height: 30px;
          position: relative;
          left: 0.5rem;
          top: 0; }
      header nav .nav-content .content-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        header nav .nav-content .content-right .col-1-of-2:not(:nth-last-child(1)) a {
          margin-right: 2.5rem;
          border: 1px solid #1f1c3d;
          height: 100%; }
        header nav .nav-content .content-right [class^="col-"] {
          font-size: 1.3rem; }
          header nav .nav-content .content-right [class^="col-"] a {
            text-decoration: none;
            padding: 1rem 2.5rem;
            text-align: center;
            color: #201d47;
            border-radius: 4px;
            height: 100%; }
            header nav .nav-content .content-right [class^="col-"] a:hover {
              border: 1px solid transparent;
              background-color: #fff;
              color: #201d47;
              border-radius: 4px; }
        header nav .nav-content .content-right a.active {
          background-color: #6a4a39;
          border: 1px solid transparent;
          color: #fff; }

.home-intro {
  max-width: 100vw;
  height: 560px;
  position: relative;
  top: 6.3rem !important;
  background: linear-gradient(to left, #ffe1d1, #ffdbca);
  padding-block-end: 5rem; }
  .home-intro__container {
    position: relative;
    margin: 0 10rem;
    padding: 0.1rem; }
    .home-intro__container::after {
      content: "";
      display: table;
      clear: both; }
    .home-intro__container__content {
      width: 50%;
      float: left; }
      .home-intro__container__content .emblem__title--1 {
        font-family: headText;
        color: #6a4a39;
        font-size: 8.5rem;
        line-height: 2.5; }
      .home-intro__container__content .emblem__title--2 {
        font-family: headText;
        color: #6a4a39;
        font-size: 7rem;
        line-height: 0.5; }
      .home-intro__container__content .p1 {
        text-align: justify;
        width: 80%;
        position: relative;
        font-weight: 500;
        font-size: 1.65rem;
        letter-spacing: 0.05rem;
        color: #2b3230;
        word-spacing: 0.5rem;
        margin-top: 4.5rem !important; }
    .home-intro__container:not(:last-child) {
      margin-right: 1rem; }
    .home-intro__container .float-right {
      float: right;
      margin-top: 6rem; }
      .home-intro__container .float-right .intro-image {
        width: 55rem;
        height: 45.5rem; }
  .home-intro__cta {
    position: relative;
    text-align: left;
    top: 3rem !important; }
    .home-intro__cta .p2 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #232323; }

.value-proposition {
  max-width: 100%;
  height: 585px;
  border-top: 3px solid rgba(0, 0, 0, 0.8);
  margin-block-start: 6.3rem;
  background-color: #e8ddfb; }
  .value-proposition__container .top__content {
    padding-block-start: 5rem;
    padding-block-end: 5rem; }
    .value-proposition__container .top__content--header {
      text-align: center; }
      .value-proposition__container .top__content--header .section-title {
        font-family: mija;
        font-weight: 700;
        font-size: 6rem;
        margin-block-end: 2.5rem;
        color: #6a4a39; }
      .value-proposition__container .top__content--header .value-proposition-intro {
        padding-inline-start: 25rem;
        padding-inline-end: 25rem;
        font-size: 1.5em;
        font-weight: 200;
        color: #6a4a39;
        letter-spacing: 0.08rem;
        word-spacing: 0.08rem; }
  .value-proposition__container .lower__content {
    max-width: 100%;
    max-height: 100%; }
    .value-proposition__container .lower__content .row {
      padding: 0 8rem 6rem;
      display: grid;
      grid-template-columns: auto auto auto auto; }
      .value-proposition__container .lower__content .row .organization_item:not(:first-child) {
        margin-left: 3rem; }
      .value-proposition__container .lower__content .row .title {
        font-size: 1.85rem;
        font-family: mija;
        font-weight: bold;
        color: #6a4a39;
        margin-block-end: 1.5rem;
        margin-block-start: 1.5rem;
        text-align: center;
        letter-spacing: 0.15rem; }
      .value-proposition__container .lower__content .row .title-body {
        font-size: 1.25rem;
        font-weight: 500;
        color: #363636;
        text-align: justify;
        letter-spacing: 0.08rem;
        margin: 0 2rem;
        font-family: "Century Gothic";
        line-height: 1.5; }
      .value-proposition__container .lower__content .row .item_img {
        width: 50%;
        display: flex;
        margin: auto; }
        .value-proposition__container .lower__content .row .item_img img {
          padding-inline-start: 1rem;
          padding-inline-end: 1rem;
          padding-block-start: 1rem;
          padding-block-end: 1rem;
          border-radius: 5%;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
          width: 9.5rem; }

.reviews {
  width: 100%;
  max-height: 585px;
  border-top: 3px solid rgba(0, 0, 0, 0.8); }
  .reviews .review-section-container {
    margin-block-start: 0 !important;
    height: 100%;
    position: relative; }
    .reviews .review-section-container .review_heading h2 {
      font-size: 3.5rem;
      font-weight: 600;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-family: mija;
      color: #6a4a39; }
    .reviews .review-section-container .review_heading.text-center {
      text-align: center !important; }
    .reviews .review-section-container .review_heading.mb20 {
      margin-bottom: 20px; }
