$color-white : #fff;
$primary-bg-color : #ffe1d1;
$primary-bg-color-2: #ffdbca;
$color-black: #000;
$color-night-shadow: #1c1c1c;
$secondary-bg-color: #e8ddfb;
$primary-color: #6a4a39;
$btn-border-color: #1f1c3d;
$btn-color: #201d47;
$dark-gray: #363737;
$color-woodsmoke: #2b3230;
$color-windchil: #232323;
$gray-1: #eee;
$color-black-2: #241a17;
$light-gray: #d3d3d3;
$grey: #808080;
$silver: #c0c0c0;
$lemonchiffon: #fffacd;




//length units
$layout-height: 585px;