$color-white : #fff;
$primary-bg-color : #ff7535;
$color-black: #000;
$color-night-shadow: #1c1c1c;
$secondary-bg-color: #e8ddfb;
$primary-color: #3728aa;
$btn-border-color: #1f1c3d;
$btn-color: #201d47;
$dark-gray: #363737;
$color-woodsmoke: #2b3230;
$color-windchil: #232323;
$gray-1: #eee;