.container{
    max-width: 100%;
    background-color: $color-white;
    position: relative;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    
    @include display-flex; //mixin
    
}