header{
    min-width: 100%;
    background-color: $primary-bg-color;
    height: 75px;
    position: fixed;
    z-index: 9;
    top: 0;
    nav{
        margin: 0 10rem;
        max-width: 100%;
        .nav-content {
            display: flex; 
            flex-direction: row; 
            justify-content: space-between;
            .content-left, 
            .content-right{
                margin: 1.5rem 0;
            }

            .content-left{
                max-width: 35rem;
                display: flex;
                flex-direction: row;
                padding: 1rem 0;
                &__logo-text{
                   font-size: 2.5rem;
                   font-family: logoText;
                   font-weight: bold;
                   letter-spacing: 0.25rem;

                   &:not(:first-child){
                   background-image: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                   linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
                   background-size: cover;
                   background-clip: text;
                   -webkit-background-clip: text;
                   color: transparent;
                }
                   
                 
                span.text-black{
                            color: $color-night-shadow;
                        }
                }

                &__logo-image{
                    height: 30px;
                    position: relative;
                    left: 0.5rem;
                    top: 0.4rem;
                }
           
            }

            .content-right{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .col-1-of-2:not(:nth-last-child(1)){
                    margin-right: 2.5rem;
                }

                [class^="col-"]{
                    font-size: 1.3rem;
                        
                    a{
                        text-decoration: none;
                        border: 1px solid $btn-border-color;
                        padding: 1rem 2.5rem;
                        text-align: center;
                        color: $btn-color;
                        border-radius: 4px;

                        &:hover{
                            border: none;
                            background-color: $color-white;
                            color: $btn-color;
                        }

                        
                    }
                }

                a.active{
                    background-color: $primary-color;
                    border: none;
                    color: $color-white;
                }
            }
         }
    }
}