.home-intro{
    max-width: 100%;
    height: 560px;
    position: relative;
    top: 6.3rem !important;
    background-color: $primary-bg-color;
    padding-block-end: 5rem;

    &__container{
        position: relative;
        @include container-margin;
        padding: 0.1rem;

        @include clearfix;

        &__content{
            width: 50%;
            float: left;

            .emblem{
                &__title--1{
                    
                    font-family: headText;
                    color: $primary-color;
                    font-size: 8.5rem;
                    line-height: 2.5;
                }

                &__title--2{
                    
                    font-family: headText;
                    color: $primary-color;
                    font-size: 7rem;
                    line-height: 0.5;
                }

            }

            .p1{
                text-align: justify;
                width: 80%;
                position: relative;
                font-weight: 500;
                font-size: 1.65rem;
                letter-spacing: 0.05rem;
                color: $color-woodsmoke;
                word-spacing: 0.5rem;
                margin-top: 4.5rem !important;
            }
        }

        &:not(:last-child){
            margin-right: 1rem;
        }

        .float-right{
            float: right;
            margin-top: 6rem;

            .intro-image{
                width: 55rem;
                height: 45.5rem
            }
        }

        
    }

    &__cta{
        position: relative;
        text-align: left;
        top: 3rem !important;
        
        .p2{
            font-size: 1.5rem;
            font-weight: bold;
            color: $color-windchil;
        }

    }


    
}