.glider,.glider-contain{
    position:relative
}
.glider,.glider-track{
    transform:translateZ(0)
}

.glider-contain{width:100%;  margin: 5rem auto;}

.glider{
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:none
}
.glider-track{
    width:100%;
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    z-index:1;
    
    padding-block-start: 2rem;
    padding-block-end: 2rem;
}

.glider__content{
    -webkit-box-shadow: 0.3px .2px 5px 0.3px rgba(0,0,0,0.4);
    box-shadow:  0.3px .2px 5px 0.3px rgba(0,0,0,0.4);
    width: !important;
    height: 370px !important;
    margin: 0 0 10rem;

    .five-star{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-block-start: 0.8rem;
    }
    blockquote{
        text-align: justify;
        padding-inline-start: 2.5rem;
        padding-inline-end: 2.5rem;
        padding-block-start: 2rem;
        font-size: 1.5rem;
        margin-block-end: 1rem;
    }

    figcaption{
        text-align: center;
        font-size: 1.8rem; 
        font-family: galada; 
        letter-spacing: 0.07rem;     
    }

}

.glider.draggable{user-select:none;cursor:-webkit-grab;cursor:grab}
.glider.draggable .glider-slide img{user-select:none;pointer-events:none}
.glider.drag{cursor:-webkit-grabbing;cursor:grabbing}
.glider-slide{
    user-select:none;
    justify-content:center;
    align-content:center;
    width:100%;
    min-width:200px;
    border-radius: 5px;
    &:not(:first-child){
        margin-left: 4rem;
    }
}

.glider::-webkit-scrollbar{opacity:0;height:0}



@media(max-width:36em){
    .glider::-webkit-scrollbar{opacity:1;-webkit-appearance:none;width:7px;height:3px}
.glider::-webkit-scrollbar-thumb{opacity:1;border-radius:99px;background-color:rgba(156,156,156,.25);-webkit-box-shadow:0 0 1px rgba(255,255,255,.25);box-shadow:0 0 1px rgba(255,255,255,.25)}}