*,
*::after, 
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: auto;
    text-size-adjust: 100%;

}
  
body{
    box-sizing: border-box;
    font-family: bodyText;
    -webkit-font-smoothing: antialiased !important;
    background-color:#fff;
}




