@font-face{
    font-family: logoText;
    src: url(../../fonts/Lobster-Regular.ttf);
}

@font-face{
    font-family: bodyText;
    src: url(../../fonts/Poppins-Medium.ttf);
}

@font-face{
  font-family: headText;
  src: url(../../fonts/NotoSansTC-Regular.otf);
}

@font-face{
  font-family: mija;
  src: url(../../fonts/mija.ttf);
}

@font-face{
  font-family: galada;
  src: url(../../fonts/Galada-Regular.ttf);
}

@font-face{
  font-family: TitilliumWeb;
  src: url(../../fonts/TitilliumWeb-Regular.ttf);
}

@font-face{
  font-family: RobotoVF;
  src: url(../../fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face{
  font-family: QuickSandVF;
  src: url(../../fonts/Quicksand-VariableFont_wght.ttf);
}

// @font-face{
//   font-family: linea;
//   src: url(../../css/fonts/linea-basic-10.ttf);
// }