@font-face{
    font-family: logoText;
    src: url(../../fonts/Lobster-Regular.ttf);
}

@font-face{
    font-family: bodyText;
    src: url(../../fonts/Poppins-Medium.ttf);
}

@font-face{
  font-family: headText;
  src: url(../../fonts/NotoSansTC-Regular.otf);
}

@font-face{
  font-family: mija;
  src: url(../../fonts/mija.ttf);
}